.screen{
    position: relative;
  background-color: #0f0;
  width: 1280px;
  height: 720px;
}
@keyframes slide {
    0% {
        margin-left: 100%;
        transform: translateX(0%)
    }
    100%{
        margin-left: 0%;
        transform: translateX(-100%)
    }
}
.comment {
    position: absolute;
    font-size: 24px;
    line-height: 1;
    z-index: 2;
    color: #fff;
    text-shadow: -1px -1px #000, 1px -1px #000,	-1px 1px #000, 1px 1px #000;
    overflow: hidden;
    white-space: nowrap;
    animation: 10s linear 0s 1 slide;
    animation-fill-mode: forwards;
}

p{
    margin: 0%;
}

#user{
    padding-top: 10px;
    font-size: 15px;
}